.App {
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

header .header {
  background-color: #fff;
  height: 45px;
}

header a img {
  width: 134px;
  margin-top: 4px;
}

#login-container {
  display: flex; 
  justify-content: center;
}

#login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 100px 0 100px;
  height: 50vh;
  box-shadow: 0 0 5px #ccc;
  padding: 40px 80px;
}

#login-content form{
  display: flex;
  flex-direction: column;

}

#login-content button {
  margin: 10px 0;
}
#login-content input {
  margin-top: 10px;
  width: 200px;
}